html {
	position: relative;
	min-height: 100%;
	width: 100%;
}
body {
    font-family: Helvetica, "sans-serif";
    font-size: 17px;
    color: #000;
	width: 100%;
    height: 100%;
}
main {
		position: relative;
	width: 100%;
    min-height: 100%;
	margin: 30px auto;
	text-align: center;
}